*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
nav{
    background-color: aquamarine;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 20px;
}
ul li{
   list-style: none;
    font-weight: bold;
    
}
a:hover{
    color: red;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.herocontent{
    width: 800px;
}
.card{
    box-sizing: border-box;
    box-shadow:10px 10px 15px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    transition: all  0.5s;
}
.card-parent{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.card:hover{
    transform: translateY(5px);
    cursor: pointer;
}

footer{
    background-color: aquamarine;
    height: 100px;
}